{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="/static/house/css/user.css">

<header class="masthead no-margin-bottom" style="background-color: #fff; min-height: 500px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 col-md-8 mx-auto detail-body">
                <ul class="nav nav-tabs" style="margin:10px 0 30px">
                    <li class="active chanle1"><a href="#userinfo">账号信息</a></li>
                    <li class="chanle2"><a href="#collections">房源收藏</a></li>
                </ul>
                <!-- 个人信息表单 -->
                <form id="user-edit-form" autocomplete="off">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">昵称：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="nickname" name="name" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">住址：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="addr" name="addr" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">密码：</label>
                        <div class="col-lg-8 input-group">
                            <input type="password" class="form-control" id="password" name="password" value="" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text" id="togglePwd" style="cursor:pointer;"><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">邮箱：</label>
                        <div class="col-lg-8">
                            <input type="email" class="form-control" id="email" name="email" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-10 text-right">
                            <button type="button" class="btn btn-info" id="edit-user-info">编辑</button>
                            <button type="button" class="btn btn-primary" id="save-user-info" style="display:none;">保存</button>
                        </div>
                    </div>
                </form>
                <!--收藏列表-->
                <div class="collection" style="display:none;">
                    <div class="row collection-line" id="collect">
                        <span class="collect_off" id="">取消收藏</span>
                        <div class="col-lg-4 col-md-4 mx-auto">
                            <div>
                                <a href="/house">
                                    <img class='img-fluid img-box' src="/static/img/house-bg1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mx-auto">
                            <div class="collection-line-info">
                                <div>
                                    <span class="attribute-text">房源地址：</span>
                                    &nbsp
                                    <span class="info-text">5555</span>
                                </div>
                                <div>
                                    <span class="attribute-text">建筑面积：</span>
                                    &nbsp
                                    <span class="info-text">6666平方米</span>
                                </div>
                                <div>
                                    <span class="attribute-text">房源户型：</span>
                                    &nbsp
                                    <span class="info-text">7777</span>
                                </div>
                                <div>
                                    <span class="attribute-text">房源朝向：</span>
                                    &nbsp
                                    <span class="info-text">8888</span>
                                </div>
                                <div>
                                    <span class="attribute-text">房源价格：</span>
                                    &nbsp
                                    <span class="info-text" style="color: #e74c3c">￥&nbsp7777</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 mx-auto" style="height: 100px; margin-top: 40px;">
                            <div class="info-more"
                                style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <span><a href="/house"
                                        style="position: absolute; top:-30px; left: -1px; height: 20px;"><i
                                            class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--浏览记录-->
            <div class="col-lg-4 col-md-4 mx-auto detail-body">
                <div class="row browse-record">
                    <div class="col-lg-10 col-md-10 mx-auto">
                        <h3 style="margin:20px 0 15px">浏览记录</h3>

                    </div>
                    <div class="col-lg-10 col-md-10 mx-auto del-btn">
                        <span id="del">清空浏览记录</span>
                    </div>
                    <div style="overflow: scroll; height:680px;">


                        <div class="col-lg-10 col-md-10 mx-auto browse-record-first-div">
                            <div class="course">
                                <div><a href="/house"><img class='img-fluid img-box' src="/static/img/house-bg1.jpg"
                                            alt=""></a>
                                </div>
                                <div class="course-info">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <span>55555</span>
                                </div>
                                <div class="course-info1">
                                    <span>6666-200平方米</span>
                                    <span class="price">￥&nbsp8888</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</header>
<script>

$(function(){
      // 1. 页面加载时获取用户信息并填充表单
      function loadUserInfo() {
        $.ajax({
            url: '/user/info', // 假设后端有这个接口，返回JSON
            type: 'GET',
            dataType: 'json',
            success: function(res){
                if(res.valid == '1'){
                    $('#nickname').val(res.data.name);
                    $('#addr').val(res.data.addr);
                    $('#email').val(res.data.email);
                    // 密码字段显示加密后的密文
                    $('#password').val(res.data.password);
                }
            }
        });
    }
    loadUserInfo();

    // 2. 编辑按钮点击，表单可编辑（包括昵称）
    $('#edit-user-info').on('click', function(){
        $('#nickname, #addr, #email,#password').prop('disabled', false);
        // 清空密码字段，让用户输入新密码
        $('#password').val('');
        $('#edit-user-info').hide();
        $('#save-user-info').show();
    });

    // 3. 保存按钮点击，提交表单
    $('#save-user-info').on('click', function(){
        // 表单校验
        var name = $('#nickname').val().trim();
        var email = $('#email').val().trim();
        var password = $('#password').val().trim();
        var addr = $('#addr').val().trim();
        
        // 昵称校验 - 必填
        if (!name) {
            alert('昵称不能为空！');
            return;
        }
        if (name.length < 6 || name.length > 15) {
            alert('昵称长度必须在6到15位之间！');
            return;
        }
        if (!/^[a-zA-Z0-9_\.]+$/.test(name)) {
            alert('昵称只能包含大写、小写、数字和下画线！');
            return;
        }
        
        // 邮箱校验 - 可选，但如果填写了必须格式正确
        if (email && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            alert('无效的邮箱地址！');
            return;
        }
        
        // 密码校验（如果输入了密码）
        if (password && password === name) {
            alert('密码不能与昵称相同！');
            return;
        }
        
        var data = {
            name: name,
            addr: addr,
            email: email,
            password: password
        };
        $.ajax({
            type: 'POST',
            url: '/user/update',
            data: data,
            dataType: 'json',
            success: function(res){
                if(res.valid == '1'){
                    alert('保存成功！');
                    // 保存后表单恢复只读，按钮切换
                    $('#nickname, #addr, #email, #password').prop('disabled', true);
                    $('#edit-user-info').show();
                    $('#save-user-info').hide();
                    // 更新主页显示的昵称和路由
                    updateUserDisplay(res.data.name);
                }else{
                    alert(res.msg || '保存失败！');
                }
            },
            error: function(){
                alert('请求失败！');
            }
        });
    });
    
    // 更新主页显示的昵称和路由
    function updateUserDisplay(newName) {
        // 更新导航栏中的用户名显示
        $('#u_name').text(newName);
        $('#u_name').attr('href', '/user/' + newName);
        // 更新当前页面的URL（不刷新页面）
        if (window.history && window.history.pushState) {
            window.history.pushState({}, '', '/user/' + newName);
        }
    }

    // 密码小眼睛切换明文/密文
    $('#togglePwd').on('click', function(){
        var pwdInput = $('#password');
        var icon = $(this).find('i');
        if(pwdInput.attr('type') === 'password'){
            pwdInput.attr('type', 'text');
            icon.removeClass('fa-eye-slash').addClass('fa-eye');
        }else{
            pwdInput.attr('type', 'password');
            icon.removeClass('fa-eye').addClass('fa-eye-slash');
        }
    });

    // tab切换逻辑
    $(".nav-tabs li").click(function () {
        let status = $(this).hasClass("chanle1")
        if (status) {
            $("#user-edit-form").show();
            $(".collection").hide();
            $(".chanle1").addClass("active")
        }
        else {
            $("#user-edit-form").hide();
            $(".collection").show();
        }
        $(this).addClass("active").siblings().removeClass("active")
    });
});
</script>
{% endblock %}